@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    header .container .nav {
        justify-content: space-between;
    }

    header .container .nav .item a {
        font-size: 13px;
        margin: 0;
    }

    .container .titulo {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .container .descricao {
        font-size: 14px;
    }

    .botao {
        width: 100%;
    }

    .carrossel-filmes {
        padding-top: 20px;
    }

    .filme-principal {
        padding-top: 4em;
    }

    .container {
        margin: 0 20px;
    }
}


@media screen and (min-width:1000px) {
    .descricao {
        width: 38%;
    }
}